[submodule "src/vendor/Leaflet.label"]
	path = src/vendor/Leaflet.label
	url = https://github.com/Leaflet/Leaflet.label.git
[submodule "src/vendor/Leaflet.TextPath"]
	path = src/vendor/Leaflet.TextPath
	url = https://github.com/makinacorpus/Leaflet.TextPath.git
[submodule "src/vendor/Skeleton"]
	path = src/vendor/Skeleton
	url = https://github.com/dhg/Skeleton.git
