body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

div.title-control {
    font-family: 'Garamond', Times, serif;
    font-weight: 700;
    font-size: 12pt;
}

div.flight-leg {
    font-family: 'Courier', Courier, monospace;
    font-weight: 400;
    text-align: center;
    color: #0000aa;
}

div.flight-title {
    font-family: 'Courier', Courier, monospace;
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    color: #0000aa;
}

@media(max-width: 400px) {
    div.title-control {
        max-width: 260px;
    }
}
