/* Mobile first queries taken directly from skeleton.css */

body {
    margin-top: 10px;
    font-family: 'Droid Serif', Arial, serif;
    font-weight: 400;
    color: white;
    background-color: black;
}

#header {
    text-align: center;
}

#header img {
    float: left;
}

#header h1 {
    padding-top: 5px;
}

#greeting {
    color: grey;
    font-family: 'Courier New', Courier, serif;
    text-align: center;
    margin-bottom: 10px;
}

#map {
    height: 200px;
}

div.heading-icon {
    color: black;
    font-family: 'Courier New', Courier, serif;
    font-size: 8pt;
    font-weight: bold;
    margin: 0px 0px 0px 6px;
}

/* Larger than mobile */
@media (min-width: 400px) {
    #map {
        height: 300px;
        position: relative;
        outline: none;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    #map {
        height: 400px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    #map {
        height: 600px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
